<mta-periodic-table-row [periodicRow]="period0"></mta-periodic-table-row>
<mta-periodic-table-row [periodicRow]="period1"></mta-periodic-table-row>
<mta-periodic-table-row [periodicRow]="period2"></mta-periodic-table-row>
<mta-periodic-table-row [periodicRow]="period3"></mta-periodic-table-row>
<mta-periodic-table-row [periodicRow]="period4"></mta-periodic-table-row>
<mta-periodic-table-row [periodicRow]="period5"></mta-periodic-table-row>
<mta-periodic-table-row [periodicRow]="period6"></mta-periodic-table-row>
<mta-periodic-table-row [periodicRow]="period7"></mta-periodic-table-row>

<mta-periodic-table-row [periodicRow]="periodLan"></mta-periodic-table-row>
<mta-periodic-table-row [periodicRow]="periodA"></mta-periodic-table-row>